! Configuration File for keepalived

global_defs {
    router_id {{ ansible_hostname }}
}

vrrp_script check_apiserver {
    script "/etc/keepalived/check_apiserver.sh"
    interval 2
    weight 2
    fall 2
    rise 2
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['k8s_master_init'][0] else 'BACKUP' }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority {{ 101 if inventory_hostname == groups['k8s_master_init'][0] else 90 }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ control_plane_endpoint }}
    }
    track_script {
        check_apiserver
    }
}
